body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: #3596b5;
}

header {
  text-align: center;
}

.exercise1 {
  border: 2px inset black;
  padding: 5%;
}

.exercise1 > p {
  border-bottom: 1px dotted lightgray;
}
